@import '../../scss/variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $dark-purple;
  padding: 30px;
  margin: 0;
	height: 950px;
	width: 500px;
}